header{
  text-align : center;
}
body{
  font-size : 16px;
}
ul{
  list-style : none;
}
.item-name{
  height : 70%;
  border : 3px solid #888;
  background-color : #fff;
  box-sizing : border-box;
  position : relative;
}
.center-alignment{
  position : absolute;
  top : 50%;
  transform : translate(0, -50%);
  width : 100%;
  text-align : center;
}
.container{
  width: 1280px;
  height: 640px;
  margin : auto;
  padding : 25px;
  box-sizing : border-box;
  border : 1px solid;
}
.vm-frame{
  width : 33%;
  height : 100%;
  float : left;
  box-sizing : border-box;
}
.vm-frame.beverage-menu{
  border-width : 5px 0 5px 5px;
  border-style : solid;
  height : 100%;
  overflow : auto;
  box-sizing : border-box;
  background-color : #0400ff;
}
.items-box{
  list-style : none;
  width : 90px;
  height : 90px;
  margin-left : 8px;
  margin-top : 8px;
  float : left;
  padding : 3px;
  box-sizing : border-box;
}
.item-data{
  margin-left : auto;
  margin-right : auto;
  width : 80%;
  text-align : center;
  background-color : #fff;
  box-sizing : border-box;
}
.vm-frame.your-action{
  height : 100%;
  border : 4px solid;
  box-sizing : border-box;
  padding : 20px 10px;
}
.input-money{
  border : 3px solid #888;
  height : 30px;
  padding : 0 10px;
  text-align : right;
  line-height : 30px;
  margin-bottom : 20px;
}
.select-button-part{
  border : 3px solid #888;
  height : 200px;
  margin-bottom : 20px;
  overflow : auto;
  padding : 0 0 10px 0;
}
.print-action{
  border : 3px solid #888;
  height : 200px;
}
.basic-button{
  width : 60px;
  height  : 50px;
  border-radius : 12px;
  margin-left : 25px;
  margin-top : 12px;
  border : 3px solid #888;
  float : left;
  background-color : #fff;
  box-sizing : border-box;
  text-align : center;
  line-height : 50px;
}
.vm-frame.wallet-part{
  padding : 24px 12px;
}
.wallet{
  width : 100%;
  height : 100%;
  border : 4px solid #888;
  box-sizing : border-box;
}
.insert-coin-button,.insert-coin-count{
  width : 130px;
  height : 70px;
  margin-left : 3vmax;
  margin-top : 16px;
  line-height : 70px;
}
.your-money{
  margin-left : 40px;
  width : 300px;
  height : 70px;
  line-height : 70px;
}