header{
  text-align : center;
}
body{
  font-size : 1.3vmax;
}
ul{
  list-style : none;
}
.basic-button-style{
  border : 0.2vmax solid #888;
  background-color : #fff;
  box-sizing : border-box;
  position : relative;
}
.center-alignment{
  position : absolute;
  top : 50%;
  transform : translate(0, -50%);
  width : 100%;
  text-align : center;
}
.container{
  width: 100vmax;
  height: 50vmax;
  margin : auto;
  padding : 2vmax;
  box-sizing : border-box;
  border : 1px solid;
}
.vm-frame{
  width : 33%;
  height : 100%;
  float : left;
  box-sizing : border-box;
}
.beverage-menu{
  border-width : 0.3vmax 0 0.3vmax 0.3vmax;
  border-style : solid;
  height : 100%;
  margin : 0px;
  padding : 0 0 0.6vmax 0;
  margin : auto;
  overflow : auto;
  box-sizing : border-box;
  background-color : #0400ff;
}
.items-box{
  list-style : none;
  width : 7vmax;
  height : 7vmax;
  margin-left : 0.6vmax;
  margin-top : 0.6vmax;
  float : left;
  padding : 0.2vmax;
  box-sizing : border-box;
}
.basic-button-style.item-name{
  height : 70%;
}
.item-data{
  margin-left : auto;
  margin-right : auto;
  width : 80%;
  text-align : center;
  background-color : #fff;
  box-sizing : border-box;
}
.your-action{
  height : 100%;
  border : 0.3vmax solid;
  box-sizing : border-box;
  padding : 2vmax 1vmax;
}
.input-money{
  border : 0.2vmax solid #888;
  height : 3vmax;
  padding : 0vmax 1vmax;
  text-align : right;
  line-height : 3vmax;
  margin-bottom : 2vmax;
}
.select-button-part{
  border : 0.2vmax solid #888;
  height : 15vmax;
  margin-bottom : 2vmax;
  overflow : auto;
  padding : 0 0 1vmax 0;
}
.print-action{
  border : 0.2vmax solid #888;
  height : 15vmax;
}
.basic-button-style.select-button{
  width : 5vmax;
  height  : 4vmax;
  float : left;
  border-radius : 1vmax;
  margin-left : 1.7vmax;
  margin-top : 1vmax;
  float : left;
}
.vm-frame.wallet-part{
  padding : 2vmax 1vmax;
}
.wallet{
  width : 100%;
  height : 100%;
  border : 0.3vmax solid #888;
}
.basic-button-style.select-button.insert-button{
  width : 10vmax;
  height : 5.5vmax;
  margin-left : 3vmax;
}
.basic-button-style.select-button.your-money{
  margin-left : 3vmax;
  width : 23vmax;
  height : 5.5vmax;
}