/* vendingMachine UI */

.vending_machine_wrap {
  float: left;
  width: 900px;
  height: 950px;
  border: 5px solid #567194;
}

/* itemDisplay UI */

.item_display {
  width: 60%;
  height: 100%;
  box-sizing: border-box;
  border: 2px solid #575377;
  background-color: #eae5df;
  float: left;
  color: #fff;
}

.item_list_container {
  padding: 20px;
  margin: 0 auto;
}

.item_container {
  border: 1px solid #314263;
  margin: 5px;
}

.item {
  display: inline-block;
  margin: 5px;
  text-align: center;
  vertical-align: middle;
}

.item_name {
  background-color: #918da7;
  border: 2px solid #567194;
  display: table-cell;
  vertical-align: middle;
  width: 100px;
  height: 60px;
  box-sizing: border-box;
  line-height: 100%;
}

.item_price {
  background-color: #fff6f5;
  border: 2px solid #567194;
  margin-top: 5px;
  color: #000;
}

/* paymentDisplay UI */

.payment_display {
  float: left;
  width: 40%;
  height: 100%;
  box-sizing: border-box;
  border: 2px solid #575377;
  background-color: #eae5df;
  text-align: center;
}

.current_coin_display {
  display: inline-block;
  box-sizing: border-box;
  width: 320px;
  border: 3px solid #575377;
  margin: 10px;
  text-align: right;
}

.current_coin {
  display: inline-block;
  padding: 10px;
}

.coin_button_list_container {
  display: inline-block;
  padding-left: 0px;
}

.coin_button_container {
  margin: 10px;
  text-align: center;
  font-size: 1.2em;
  display: inline-block;
  box-sizing: border-box;
  width: 320px;
  height: 220px;
  border: 3px solid #575377;
}
.coin_button:hover {background-color: #a4a9d2}

.coin_button_item {
  display: inline-block;
}

.coin_button {
  display: inline-block;
  padding: 10px;
  width: 40px;
  border: 2px solid #575377;
  vertical-align: middle;
  margin: 3px;
  border-radius: 15px;
}

.progress_container {
  display: inline-block;
  box-sizing: border-box;
  width: 316px;
  height: 300px;
  border: 3px solid #575377;
  margin: 10px;
  overflow:  scroll;
}
.log_list {
  list-style-type: none;
  padding-left: 0px;
}
.log_item {
  display: block;
  margin: 5px;
  text-align: center;
}
.receive_container {
  display: inline-block;
  box-sizing: border-box;
  width: 316px;
  height: 200px;
  border: 3px solid #575377;
  margin: 10px;
  overflow:  scroll;
}
.image_list {
  list-style-type: none;
  padding-left: 0px;
}

.item_image {
  float: left;
  width: 50px;
  height: 70px;
  border: 1px solid #000;
}
/* wallet UI */
.wallet {
  color:  #fff;
  float: left;
  width: 250px;
  margin: 30px;
  font-size: 15px;
  border: 4px solid #4d4871;
  background-color: #7b67e6;
  text-align: center;
}
.available_item{
  background-color: #b0ffaa;
  color: #000;
}
.money_list,
.money_item {
  display: block;
  padding-left: 0px;
}

.money_container {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
}

.number_of_money,
.money {
  display: inline-block;
  vertical-align: middle;
  width: 40%;
  padding: 10px 5px;
  border-radius: 15px;
  border: 2px solid #b4b0da;
}
.number_of_money:hover,.money:hover{
  background-color:#5a35ef
}
.full_amount {
  border: 2px solid #b4b0db;
  width: 90%;
  margin: 0px auto 20px auto;
  padding: 10px;
  border-radius: 15px;
  box-sizing: border-box;
}