/* ID -------------------------------------------------- */
#item-panel {
    width: 635px; height: 445px;
    background-color: #D32F2F;
}

#function-panel {
    width: 300px; height: 445px;
    border: 10px solid #212121;
}

#money-display {
    widows: 270px; height: 10%;
    border: 5px solid #D32F2F;
    text-align: right;
    font-size: 42px;
    margin: 10px;
}

#item-selector-panel {
    width: 270px; height: 50%;
    border: 5px solid #D32F2F;
    margin: 10px;
}

#status-panel {
    width: 270px; height: 23%;
    border: 5px solid #D32F2F;
    margin: 10px;
    background-color: black;
    font-size: 16px;
    text-align: center;
    color: white;
    padding-top: 10px;
    overflow: auto;
}

#money-panel {
    width: 200px; height: 435px;
    border: 3px solid slategray;
    margin: 10px 0px 10px 10px;
    display: inline-block;
}

#money-amount-window {
    width: 177px; height: 41px;
    border: 1px solid slategray;
    margin: 10px 10px;
    text-align: center;
    font-size: 32px;
    padding-top: 4px;
}



/* CLASS -------------------------------------------------- */
.text-left-align {
    text-align: left;
}

.high-light {
    background-color: #212121 !important;
    color: #FFF;
}

.column-base {
    width: 630px; height: 50px;
    margin: 5px;
}

.d-item {
    width: 150px; height: 50px;
}

.grid {
    display: inline-block;
    border: 1px solid #212121;
    text-align: center;
    background-color: #FFF;
}

.panel {
    display: block;
    float: left;
    border: 10px solid #212121;
}

.function-column-base {
    width: 270px; height: 50px;
    text-align: center;
    margin-top: 5px;
}

.btn-num {
    width: 85px; height: 45px;
}

.btn-zero-num {
    width: 265px; height: 45px;;
}

.ui-column-base {
    width: 180px; height: 45px;
    margin: 7px 10px;
}

.ui-item-base {
    width: 83px;
    margin-top: 5px;
}

.ui-column-base > div {
    height: 27px;
    padding-top: 6px;
    margin-left: 7px;
}

.ui-column-base > button {
    height: 35px;
}
