

/* ID -------------------------------------------------- */
#itemPanel {
    width: 635px; height: 445px;
    background-color: #D32F2F;
}

#functionPanel {
    width: 300px; height: 445px;
    border: 10px solid #212121;
}

#amountDisplay {
    widows: 270px; height: 10%;
    border: 5px solid #D32F2F;
    text-align: right;
    font-size: 42px;
    margin: 10px;
}

#itemSelectorPanel {
    width: 270px; height: 50%;
    border: 5px solid #D32F2F;
    margin: 10px;
}

#statusPanel {
    width: 270px; height: 23%;
    border: 5px solid #D32F2F;
    margin: 10px;
    background-color: black;
    font-size: 16px;
    text-align: center;
    color: white;
    padding-top: 10px;
}



/* CLASS -------------------------------------------------- */
.columnBase {
    width: 630px; height: 50px;
    margin: 5px;
}

.item {
    width: 150px; height: 50px;
}

.number {
    width: 65px; height: 60px;
}

.grid {
    display: inline-block;
    border: 1px solid #212121;
    text-align: center;
    background-color: #f5f5f5;
}

.panel {
    display: block;
    float: left;
    border: 10px solid #212121;
}

.functionColumnBase {
    width: 270px; height: 50px;
    text-align: center;
    margin-top: 5px;
}

.numberBtn {
    width: 85px; height: 45px;
}

.zeroNumberBtn {
    width: 265px; height: 45px;;
}