

/* ID -------------------------------------------------- */
#itemList {
    width: 625px;
    height: 420px;
    border: 10px solid #212121;
    background-color: #D32F2F;
}

/* CLASS -------------------------------------------------- */
.grid-container {
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    grid-column-gap: 5px;
}

.grid-item {
    width: 150px; height: 40px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #F5F5F5;
    border: 1px solid #212121;
    text-align: center;
}